//Sidenav CSS
.bg-Maastricht{
    background: #042235;
}
.w-4rem{
    width: 4rem;
}
.nav-item {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
        &:hover{
            background: #41adf042;
        }
        &.active{
            background: #2995DA;
            img{opacity: 1;}
        }

        img{opacity: .3;}
    }

        .side-nav {
        margin-top: -4rem;
        position: sticky;
        top: 0;
        left: 0;
      }